# Ruta local donde Django guarda los archivos subidos (MEDIA_ROOT).
FINANCIERO_DOCUMENT_ROOT=C:\Users\Harlem Hernandez\Documents\Trabajo - UL\Projects\Financiero Facturas

# Carpeta compartida de red NAS Universidad Libre
# Ruta UNC completa. Ejemplo: \\nasul.unilibre.edu.co\BARRANQUILLA\sihulapp
FINANCIERO_DOCUMENT_NETWORK_ROOT=
# Usuario de red para acceder a la carpeta compartida
FINANCIERO_DOCUMENT_NETWORK_USER=
# Contraseña del usuario de red. NO incluir valor real en este archivo.
FINANCIERO_DOCUMENT_NETWORK_PASSWORD=
