FINANCIERO_DOCUMENT_ROOT=C:\Users\Harlem Hernandez\Documents\Trabajo - UL\Projects\Financiero Facturas
FINANCIERO_DOCUMENT_NETWORK_ROOT=\\nasul.unilibre.edu.co\BARRANQUILLA\sihulapp
FINANCIERO_DOCUMENT_NETWORK_USER=sihulapp@unilibre.edu.co
FINANCIERO_DOCUMENT_NETWORK_PASSWORD=
